@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <input asp-for="Email" type="Text" />
    <span asp-validation-for="Email" class="text-danger"></span>
    <input type="submit" value="Submit" />
</form>
