@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

Welcome

<form method="post">
    <label asp-for="DrivingLicence">Driving Licence Number</label>
    <input asp-for="DrivingLicence" type="text" />
    <span asp-validation-for="DrivingLicence" class="text-danger"></span>
    <input type="submit" value="Submit" />
</form>
