@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <input asp-for="TextInput" />
    <button type="submit">Submit</button>
</form>

@if (!String.IsNullOrEmpty(Model.TextInput))
{
    <p>You entered: @Model.EncryptedText</p>
}
