@page
@model WebAppDemo.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<form method="post">
    <table>
        <tr>
            <td>
                <label asp-for="DrivingLicenceNumber"></label>
            </td>
            <td>
                <input asp-for="DrivingLicenceNumber" />
                <span asp-validation-for="DrivingLicenceNumber"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="ExpiryDate"></label>
            </td>
            <td>
                <input asp-for="ExpiryDate" />
                <span asp-validation-for="ExpiryDate"></span>
            </td>
        </tr>
    </table>
    <button type="submit">Submit</button>
</form>